/*Font Imports Start*/

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Gelasio|Ibarra+Real+Nova|Source+Sans+Pro|VT323|Libre+Caslon+Text|PT+Sans|Poppins&display=swap');

/*Font Imports End*/
/*Font Globals Start*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Major Mono Display';
}

p {
  font-family: 'Libre Caslon Text';
  margin-bottom: 0px;
  font-size: 16px;
}

@media (max-width: 414px) {
  p {
    font-size: 16px;

    text-align: center;
  }
}

#disabled-link {
  color: #c2c2c2;
}

/*Font Globals Start*/
/*Globals Start*/


html {
  scroll-behavior: smooth;
}

.button {
  background-color: rgb(197, 197, 197);
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 12px;
  font-family: fantasy;
}

.row-center {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.column-center {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*Globals End*/
/*Animated Text Classes Start*/
.ml2 {
  font-weight: 900;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml5 {
  position: relative;
  font-weight: 300;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: 'VT323';
  font-style: italic;
  font-weight: 400;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

#heroText {
  font-size: 24px;

}

@media only screen and (max-width: 600px) {
  #heroText {
    font-size: 12px;
  }
}

/*Animated Text Classes End*/

/*Navbar Start*/
#navbarSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  opacity: 0;
  width: 100%;
  position: fixed;
  z-index: 200;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;

}




.navbar-link-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: inherit;
  width: 100%;
}

.navbar-link {
  font-family: 'VT323';
  text-decoration: none;
  color: black;
  margin-right: 2.5%;
  margin-left: 2.5%;
  font-size: 18px;
}

.navbar-link:hover {
  transition: color 1s;
  color: red;
}

/*Navbar End*/

/*Hero Section Start*/
.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url('https://lh3.googleusercontent.com/x3-t8_mOlmKZ-unY0osVg1PfY-nAkbPlcvXiHgDgU8X_X0swig6oWqyWh_paGbGCuQeS0hk6q-7ODjTjkpHaYT6TeV05Ckoics-Whu0YnMvirY-5ZAklCugzRxTxlxdIyiGEUgAJl1FHujYG6ZjSD3Pm9JvRkCMUK2lRPtDUlRi_mQn5F-UxmsBEOLsvd398vQn1E488a4IVZ9CtLuQh_k8H5HSwcm9sLBWJz0TEyeqnR4pL7IMnWPIHYi4r76LDmPwY6JzN0I5Axz-y2W69XhIQg6HlHId7ac0GScY356EXuVqQwl8ng3DMgvy1Vh1WlOV2HKEdjvjBG2DhCGk-NNGoUf80k5FfQTTn0CFgJFyXbRXZnTIt1jA3NH8GG9MG55_gohuN19gW0WZrV6bOTljbH9mdwSkBQdCZ0Ioa9-PkmvxtxiSMwzJDlqmvBrBCL3oojVPhk1jyU9xzi74Wtz8DReC_aWKpo38fMrhZ_9SrbRBjKKQ1S0ouPmYp_YqGTWUxbWPQzFm96cgAMcVRPPZ30HKpp97xsC_tB4nqswL3lWCtKe9TaQ694FF-wDpcbTFp80SP_SEAeC7F1hTdIlU5CPLemkZ06epYGRNTZmvH_1lqbMUFoRt_BwaoDmdHf5-FICueZBI5atzJs4Y4eoE9YGA8676hk6ajEJ8Hod5ySwHwcYOyhQM=w1362-h851-no');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: 25% 100%;
}

#heroLogo {
  color: white;
}

#heroText {
  color: white;
}

#profilePic {
  width: auto;
  height: 20vh;
  border-radius: 50%;
  margin-top: 5%;
  opacity: 0;
}

/*Overview Section Start*/
.overview-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;

}

#overviewText {
  width: 80%;
}

/*Overview Section End*/


.skill-section-img-right-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.skill-section-img-left-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.skill-section-img-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 40vw;
  height: 45vh;
  border: solid black 2px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

#particles-js {
  z-index: -200;
  position: absolute;
  width: 40vw;
  height: 45vh;
}

#particles-jsTwo {
  z-index: -200;
  position: absolute;
  width: 40vw;
  height: 45vh;
}

#particles-jsThree {
  z-index: -200;
  position: absolute;
  width: 40vw;
  height: 45vh;
}

.skill-section-img-left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 40vw;
  height: 45vh;
  border: solid black 2px;
  background-size: contain;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.skill-section-img-right-text-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 40vw;
  height: 45vh;
  border: solid black 2px;
  margin: 10px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.skill-section-img-right-text-area p {
  line-height: 2px;
  font-size: 18px;
}


.skill-section-img-left-text-area {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 40vw;
  height: 45vh;
  border: solid black 2px;
  margin: 10px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;

}

.skill-section-img-left-text-area p {
  line-height: 2px;
  font-size: 18px;
}

@media (max-width: 500px) {
  .skill-section-img-left-text-area p {
    font-size: 16px;
  }

  .skill-section-img-right-text-area p {
    font-size: 16px;
  }

}

#skillsLanguagesText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;


}

#skillsFrameworksText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;

}

#skillsExpText {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2px;


}

@media (max-width: 500px) {
  #skillsExp {
    margin-top: 5%;
  }
}

/*Hero Section End*/



.navbar-in-focus {
  opacity: 1;
}




/*Experience Section Start*/
.experience-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  background-color: #c2c2c2;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.experience-section-companies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 5%;
}

#appliedLogo {
  width: 200px;
  height: 75px;
  margin-right: 25px;
  transition: opacity 2s;
  opacity: 0;
}

#hdLogo {
  height: 125px;
  width: 150px;
  margin-right: 25px;
  transition: opacity 4s;
  opacity: 0;
}

#hpLogo {
  height: 75px;
  width: 150px;
  margin-right: 25px;
  transition: opacity 6s;
  opacity: 0;
}

#trustfuelLogo {
  width: 150px;
  height: 85px;
  margin-right: 25px;
  transition: opacity 8s;
  opacity: 0;
}

#devVector {
  width: 350px;
  height: 175px;
  margin-bottom: -25px;

}

/*Experience Section Ends*/
/*Animation Section Start*/
.animation-section {
  width: 100%;
  height: 50vh;
  opacity: 0;
  transition: opacity 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

#svgFill {
  width: 50px;


}

/*Animation Section End*/

/*Certificates Section Start*/
.certificates-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 10%;
  border: solid transparent 1px;
  padding: 2.5%;
}

.certificates-section p {
  text-align: center;
}

.certs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#certOne {
  width: 150px;
  height: 75px;
  margin-right: 25px;
}

#certTwo {
  width: 50px;
  height: 50px;
  margin-top: 5%;
}

/*Certificates Section Ends*/
/*Resume Section Start*/
.resume-section {
  width: 100%;
  height: 250px;
  border: solid red 1px;
  padding: 2.5%;
  margin: 2.5%;

}
#resume-icon {
  width: auto;
  height: 10vh;
}
/*Resume Section Ends*/


/*Work Examples Section Start*/
.work-examples-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: solid 1px blue;
  padding: 2.5%;
  margin: 2.5%;


}

.work-examples-section p {
  width: 50%;
  text-align: center;
}

@media (max-width: 500px) {
  .work-examples-section p {
    width: 75%;
    text-align: center;
  }
}

#workExamplesAppliedLogo {
  width: 175px;
  height: 60px;

}

#wwtreeLogo {
  width: 75px;
  height: 75px;
}

/*Work Examples Section Ends*/

/*Research Section Starts*/
.research-section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 70vh;
  border: solid rgb(118, 162, 212) 1px;
  margin-bottom: 2.5%;
  text-align: center;
}

.sticky-note {
  width: 250px;
  height: 250px;
}

@media (max-width: 500px) {
  .research-section {
    height: 1150px;
  }

  #research-typed-element-container {
    min-height: 50px;
  }

}

.research-section p {
  width: 80%;
  margin-bottom: 5%;
}

.research-item-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.research-item-section p {
  width: 50%;
  text-align: left;
}


#tensorflowIcon {
  width: 100px;
  height: 75px;
  margin-right: 5%;
  margin-top: -5%
}

#ibmWatsonIcon {
  width: 100px;
  height: 75px;
  margin-right: 5%;
  margin-top: -5%;
}

#threeJSIcon {
  width: 100px;
  height: 50px;
  margin-right: 5%;
  margin-top: -5%
}

/*Research Section Ends*/

/*Blog Section Start*/
.blog-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.blog-section p {
  width: 65%;
  text-align: center;
}

/*Blog Section Ends*/
/*Footer Section Start*/
.footer-section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 75px;
  background-color: #c2c2c2;
}

@media (max-width: 411px) {
  .footer-section {
    margin-bottom: 0%;

  }
}

.footer-section svg {
  margin-right: 25px;
}

/*Footer Section Stop*/

/*Tutoring Starts*/
.contact-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.tutor-contact-form {
  height: 50vh;
}

/*Tutoring Stops*/