/*Font Imports Start*/

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|VT323&display=swap');

/*Font Imports End*/
/*Font Globals Start*/
h1,
h3 {
  font-family: 'Major Mono Display';
}

p {
  font-family: 'VT323';
}

/*Font Globals Start*/
/*Animated Text Classes Start*/
.ml2 {
  font-weight: 900;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml5 {
  position: relative;
  font-weight: 300;
  color: #402d2d;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, "EB Garamond", serif;
  font-style: italic;
  font-weight: 400;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}

#heroText {
  font-size: 24px;
}

/*Animated Text Classes End*/

/*Navbar Start*/
#navbarSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  opacity: 0;
  width: 100%;
  position: fixed;
  z-index: 200;
  height: 25px;
  top: 0;

}




.navbar-link-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: inherit;
  width: 100%;
}

#navbarLinkOne {
  font-family: 'VT323';
  text-decoration: none;
  color: black;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

#navbarLinkTwo {
  font-family: 'VT323';
  text-decoration: none;
  color: black;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

#navbarLinkThree {
  font-family: 'VT323';
  text-decoration: none;
  color: black;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

#navbarLinkFour {
  font-family: 'VT323';
  text-decoration: none;
  color: black;
  margin-right: 1.5%;
  margin-left: 1.5%;
}

/*Navbar End*/

/*Hero Section Start*/
.hero-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(126, 126, 126);
  height: 98vh;
}

#heroLogo {
  color: white;
}

#heroText {
  color: white;
}

/*Hero Section End*/
.split-section-image-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.split-section-image-left {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.split-section-text-area {
  width: 250px;
  height: 250px;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}
.split-section-text-area p {
  width: 80%;
}

.split-section-background-area {
  width: 250px;
  height: 250px;
  background-position: 50%;
  background-size: cover;

}

@media (max-width: 600px) {
  .split-section-image-right {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .split-section-image-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .split-section-text-area {
    height: 50vh;
    text-align: left;
    
  }

  .split-section-background-area {
    height: 50vh;
  }
}