@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Inconsolata|Oswald|Special+Elite&display=swap');

/*-----*/
html, body {
    background-color: black;
}
/*Globals Start*/
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 100%;
}
.flex-column {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    height: 100%;
}
/*Globals End*/
/*-----*/

/*-----*/
/*Navbar Starts*/
#navbar{
height: 350px;
width: 450px;
position: fixed;;
right: 0;
background-image: url('https://lh3.googleusercontent.com/RM2SOFBsF4gu08dgEWPfGt3iJspG5tokcYGa8GTAX4Su_lJXgh5U9QZyBowaGHnJRmsHWiqNgjGr-Cqei9NBkec4QVJSpuqR2fBYfg2K0HwrKXx6suU5Qeien9BQMcLJ19_mJ9cqv87poRCQmbn5FT8OSmjnMInEZZvdOMFEtLJM46sAeiITikpgAJDERB5xoX6aI16g5F7FwpC5ijO4LfNs11uawMX-etA56qcHtzr6iH0rWvvKS_brt4phOwm2eiWMeVhO0H-dKZJpmE4ql8WviHzWgdo8n2h63Fs-71vq7MsMHp5CBksQIJSs_Km4J17SE75sWto2gfjGrYs3J4r85jQe93k9TlVLUiQg9zN3lhZZ3jhbe3zNID7OR0XGwta1JTKeKfWbbot425b8L_0rDXMoSUIJuOxx0D1ddXbdMO_O2qsOZVU7bCCXOPn6YVqzLKey5FUnq8TDD37wjT3-8Me_zEHZ7TRqiaYClW1TIPuqjw6R9MGIkTE-JASgsoqpPgCU_w-lKsrPpEIUgPUl8bV1i4U4SoWcGytV0swI--9OQl_KxpM_dN2yD0g1lDlFWDCCTOKjgsilQFOleIc4pvT6eY9_sWByN9JELxouibESNv-avXYwchcm9xE7kA-3lYCM4QENQyVYrcDV8G-zcIdqpRfu70opj0wWcrHmAutSNVcmfqU=w840-h859-no');
background-size: 100% 100%;
transform: translateX(502px);
       transform:rotate(10px);
       z-index: 1;

}

.nav-row{
    width: 100%;
    position: relative;
transform: rotate(3deg);
}

/*Bebas+Neue|Inconsolata|Oswald|Special+Elite*/
.nav-link {
font-size: 35px;
text-decoration: none;
color: black;
font-family: 'Special Elite';
margin: 0 0 5px 0;

}
.nav-link:hover {
    color: gray;
}
#menu-icon-section {
right: 10px;
top: 10px;
position: fixed;
z-index: 1;
}
/*Navbar Ends*/
/*-----*/
/*Hero Section*/
#hero-section {
    background-image: url('https://lh3.googleusercontent.com/EO8Vs3zLs-KfmJJvsDUl7WC3i81U3eJkujocXspR3hwbA3gsulfaQ4Lr9Yz-F58yhxOaaTMUwXu2ci_gny3sw-HKoRG4pKBVEauy171a861QPfLc9RX2ZVYsMYkIAU7mrVopTzffijQS8MhX9CT-XGAadaG09riy_HavwCQ2w9F7CTaeea8tAIFPCdqwiFLLTLG86cHiO2gZq1lWzYMni7EvYMNQnpAcOfjcqv9QWl-1qXAKUoJJQbNnTMr_PNXOjVmB9cx0mB8tTYYC8GyRKxZDUPK9_RPCMiZhAO30Ykv40ZRTlcXcIQBRh8ZqmdR4LcpyQpbkN59b-wbI7cqiQemWyyZFsa3FgVnAUvZlmuC_jY7AT8Lc3XNRfOU-pm4cd8M8atWzE9r1dbbfgIJehCyq7znYW81uQvNlTXzBADb9EDyDw7y4ZLzIPQZpVoAfFn2aAxguK9y8ppDNcFjD_O6juwqfpjA1VCucMqZkBibNtIU6HelX_Erzd25HYMrs6N_MWzoGxiJJeZF31-mBCyzAQK0AvAjzVbNRgpj0RYkK6FIOA9zecaxO0ZFaul9ZdR254oejJxzWwnaGaC6vPOE2ZYa3806F5Mk0DxkaF4PNtelVocipfJqcrMwoxwdtBlTmWrlAHFqmo92YIKcDCI0DwPkDAd-4sTNa3d-X0ZZ6nu9CYsAyDLg=w1512-h851-no');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}
/*Hero Section Ends*/